h1 {
    display: flex;
    justify-content: space-around;
}

#chiku_button {
    display: flex;
    justify-content: space-around;
}

#contents-title {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 28px;
}

#contents {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

